body{
  text-align: center;
}

#walrus-showing {
  display: none;
}
#clam-showing {
  display: none;
}

.clickable, .clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickable2:hover {
  text-decoration: underline;
}

#middle {
  display: none;
}

#reveal {
  display: none;
}


.green-background {
  background-color: #00ff00;
}

.lightTheme {
  background-color: #bec5d1;
}
.darkTheme {
  background-color: #3c3f45;
  color: #bec5d1;
}

.highlight {
  background-color: #0088cc;
  border: 1px solid red;
}
