body{
  text-align: center;
}

#walrus-showing {
  display: none;
}
#clam-showing {
  display: none;
}

.clickable, .clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickable2:hover {
  text-decoration: underline;
}

#middle {
  display: none;
}

#reveal {
  display: none;
}
